<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" android:installLocation="auto" package="com.perkusss.shhebet" platformBuildVersionCode="35" platformBuildVersionName="15">
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.any" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.external" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.PORTRAIT" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:required="false"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.PICK"/>
            <data android:mimeType="image/*"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
        <intent>
            <action android:name="androidx.camera.extensions.action.VENDOR_ACTION"/>
        </intent>
        <package android:name="com.google.android.apps.maps"/>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
        <intent>
            <action android:name="com.google.android.apps.play.billingtestcompanion.BillingOverrideService.BIND"/>
        </intent>
    </queries>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <permission android:name="com.perkusss.shhebet.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.perkusss.shhebet.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>
    <application android:allowBackup="false" android:alwaysRetainTaskState="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:hardwareAccelerated="@bool/useHardwareAcceleration" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:launchMode="singleInstance" android:localeConfig="@xml/locale_config" android:name="com.nandbox.model.helper.AppHelper" android:preserveLegacyExternalStorage="true" android:requestLegacyExternalStorage="true" android:roundIcon="@mipmap/ic_launcher_round" android:screenOrientation="portrait" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <provider android:authorities="@string/file_provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name="com.nandbox.payment.PayActivity" android:screenOrientation="portrait"/>
        <activity android:alwaysRetainTaskState="true" android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.nandbox.view.EvaluationControllerActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="join_group" android:scheme="@string/deep_link_schema"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="join_booking" android:scheme="@string/deep_link_schema"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="join_event" android:scheme="@string/deep_link_schema"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="add_contact" android:scheme="@string/deep_link_schema"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="verify_code" android:scheme="@string/deep_link_schema"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="open_app" android:scheme="@string/deep_link_schema"/>
            </intent-filter>
        </activity>
        <uses-library android:name="com.google.android.maps" android:required="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:label="@string/title_activity_my_profile" android:launchMode="singleTask" android:name="com.nandbox.view.myprofile.MyProfileActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|layoutDirection" android:label="@string/title_activity_profile_picture" android:name="com.nandbox.view.util.picture_select.SelectPictureActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.Black"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:exported="true" android:icon="@drawable/remove_image_ic" android:label="@string/remove_image_tag" android:name="com.nandbox.view.util.picture_select.SelectPictureActivity$RemoveImageActivity" android:screenOrientation="portrait">
            <intent-filter android:icon="@drawable/remove_image_ic" android:label="@string/remove_image_tag" android:logo="@drawable/remove_image_ic">
                <action android:name="com.nandbox.profilePicture.imageRemove"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:label="@string/user_profile" android:name="com.nandbox.view.myprofile.MyProfileDefinitionActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:label="@string/title_activity_country_list" android:name="com.nandbox.view.register.CountryListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:configChanges="locale|layoutDirection" android:name="com.nandbox.model.helper.NotificationReceiver"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:label="@string/app_name" android:launchMode="singleTop" android:name="com.nandbox.view.navigation.SliderMenuActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:label="@string/title_activity_contact_details_main" android:name="com.nandbox.view.contacts.details.ContactDetailsMainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:label="" android:name="com.nandbox.view.details.group.GroupDetailsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:name="com.nandbox.view.message.MessagePictureActivity" android:theme="@style/AppTheme.Black"/>
        <receiver android:exported="true" android:name="com.nandbox.model.remote.listener.BootListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.nandbox.model.remote.googlePushNotification.AppFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:foregroundServiceType="dataSync" android:name="com.nandbox.model.remote.eventBus.FJDataHandler"/>
        <activity android:configChanges="locale|layoutDirection" android:label="Store Activity" android:name="com.nandbox.view.store.StickerStoreActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:name="com.nandbox.view.store.MyStickersActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|layoutDirection" android:label="Store Activity" android:name="com.nandbox.view.store.StickerStorePageActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|orientation|screenSize|layoutDirection" android:label="@string/title_activity_crop_image" android:name="com.nandbox.view.util.picture_select.CropImageActivity" android:parentActivityName="com.nandbox.view.util.picture_select.SelectPictureActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.Black">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".view.util.picture_select.SelectPictureActivity"/>
        </activity>
        <activity android:label="@string/location_attach_title" android:name="com.nandbox.view.locationPicker.LocationPickerActivity"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key"/>
        <activity android:configChanges="locale|layoutDirection" android:name="com.nandbox.view.util.EditTextActivity" android:windowSoftInputMode="stateAlwaysVisible|adjustNothing"/>
        <activity android:configChanges="locale|layoutDirection" android:label="@string/settings" android:name="com.nandbox.view.settings.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|layoutDirection" android:label="@string/title_activity_change_number" android:name="com.nandbox.view.settings.changePhone.ChangePhoneActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|layoutDirection" android:label="@string/change_email" android:name="com.nandbox.view.settings.changeEmail.ChangeEmailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|layoutDirection" android:label="@string/title_activity_clear_all_chats" android:name="com.nandbox.view.settings.ClearAllChatsActivity"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:label="@string/title_activity_create_new_group" android:name="com.nandbox.view.groups.create.NewGroupCreateActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:label="@string/title_activity_create_new_group" android:name="com.nandbox.view.groups.create.NewGroupSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|layoutDirection" android:label="@string/participants" android:name="com.nandbox.view.details.group.GroupParticipantsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.nandbox.view.settings.AboutAppActivity"/>
        <activity android:label="@string/send_photo_title" android:name="com.learnncode.mediachooser.activity.PhotoViewerActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.Black" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:label="" android:name="com.learnncode.mediachooser.activity.CropRotateImageActivity" android:theme="@style/AppTheme.Black"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:name="com.nandbox.view.multiselect.ShareForwardActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:name="com.nandbox.view.multiselect.InviteMembersActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:name="com.nandbox.view.settings.calls.CallSettingsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="locale|orientation|screenSize|layoutDirection" android:name="com.nandbox.view.myprofile.AddContactsToMyProfileActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name="com.nandbox.view.message.AudioChooserActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.Black" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="com.nandbox.view.util.materialfilepicker.ui.FilePickerActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="locale|orientation|screenSize|layoutDirection" android:label="@string/create_bot" android:name="com.nandbox.view.bots.ManageBotActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:configChanges="locale|orientation|screenSize|layoutDirection" android:label="@string/booking_details" android:name="com.nandbox.view.details.booking.BookingDetailsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity android:configChanges="locale|orientation|screenSize|layoutDirection" android:label="" android:name="com.nandbox.view.details.booking.BookingManageActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:configChanges="locale|orientation|screenSize|layoutDirection" android:name="com.nandbox.view.details.booking.BookingAvailableEditActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:configChanges="locale|orientation|screenSize|layoutDirection" android:label="@string/shared_content" android:name="com.nandbox.view.mediaViewer.MediaViewerActivity" android:screenOrientation="portrait"/>
        <service android:foregroundServiceType="phoneCall|microphone" android:name="com.nandbox.webrtc.WebRTCCallingService"/>
        <service android:exported="true" android:foregroundServiceType="phoneCall|microphone" android:name="com.nandbox.webrtc.WebRTCConnectionServiceAPI30" android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.perkusss.shhebet.FileProvider" android:exported="false" android:grantUriPermissions="true" android:name="com.nandbox.model.util.GenericFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:launchMode="singleTop" android:name="com.nandbox.view.voip.CallActivity" android:screenOrientation="portrait" android:theme="@style/CallTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:label="Barcode Reader" android:name="com.nandbox.view.barcode.BarcodeReaderActivity"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id"/>
        <activity android:label="@string/admin_settings" android:name="com.nandbox.view.details.group.adminSettings.GroupAdminActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.nandbox.view.details.events.EventDetailsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <receiver android:exported="true" android:name="com.nandbox.model.remote.listener.SMSListener">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.nandbox.view.mapsTracking.LocationMonitoringService"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.nandbox.view.search.SelectSearchActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="com.nandbox.view.ScanDemoActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:label="" android:name="com.nandbox.view.mapsTracking.activity.MarkerDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:label="@string/search" android:name="com.nandbox.view.search.SearchMarkerDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:label="@string/balance" android:name="com.nandbox.view.balance.BalanceListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:label="@string/search" android:name="com.nandbox.view.search.SelectDateSearchActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:name="com.nandbox.view.dynamicField.DynamicFieldListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:name="com.nandbox.view.storageManager.StorageManagerActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:name="com.nandbox.view.storageManager.audioPlayer.AudioStorageActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.Black"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" android:name="com.nandbox.view.mediaChooser.NandboxPhotoViewerActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.Black"/>
        <activity android:label="@string/backup" android:name="com.nandbox.view.backup.BackupActivity" android:theme="@style/BackupTheme"/>
        <activity android:exported="false" android:label="@string/Restore" android:name="com.nandbox.view.restore.RestoreActivity" android:theme="@style/BackupTheme"/>
        <activity android:exported="false" android:label="@string/Restore" android:name="com.nandbox.view.webView.WebViewActivity"/>
        <activity android:exported="false" android:label="@string/address" android:name="com.nandbox.view.addressManager.AddressManagerActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.nandbox.view.util.zoom.ImageZoomActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.Black"/>
        <activity android:exported="false" android:name="com.nandbox.view.signupFields.ExtraFieldsActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="@string/ad_google_key"/>
        <service android:enabled="false" android:exported="false" android:name="androidx.appcompat.app.AppLocalesMetadataHolderService">
            <meta-data android:name="autoStoreLocales" android:value="true"/>
        </service>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:foregroundServiceType="dataSync" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.nandbox.model.remote.listener.LangReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:clearTaskOnLaunch="true" android:name="com.journeyapps.barcodescanner.CaptureActivity" android:screenOrientation="sensorLandscape" android:stateNotNeeded="true" android:theme="@style/zxing_CaptureTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <uses-library android:name="androidx.camera.extensions.impl" android:required="false"/>
        <service android:enabled="false" android:exported="false" android:name="androidx.camera.core.impl.MetadataHolderService">
            <meta-data android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER" android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="8.0.0"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivityV2" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.google.firebase.auth.internal.GenericIdpActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="firebase.auth" android:path="/" android:scheme="genericidp"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.google.firebase.auth.internal.RecaptchaActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="firebase.auth" android:path="/" android:scheme="recaptcha"/>
            </intent-filter>
        </activity>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.database.FirebaseDatabaseKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:enabled="true" android:exported="false" android:name="androidx.credentials.playservices.CredentialProviderMetadataHolder">
            <meta-data android:name="androidx.credentials.CREDENTIAL_PROVIDER_KEY" android:value="androidx.credentials.playservices.CredentialProviderPlayServicesImpl"/>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="true" android:exported="false" android:fitsSystemWindows="true" android:name="androidx.credentials.playservices.HiddenActivity" android:theme="@style/Theme.Hidden"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED" android:value="true"/>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <property android:name="android.adservices.AD_SERVICES_CONFIG" android:resource="@xml/ga_ad_services_config"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.firebase.sessions.SessionLifecycleService"/>
        <provider android:authorities="com.perkusss.shhebet.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <provider android:authorities="com.perkusss.shhebet.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <uses-library android:name="android.ext.adservices" android:required="false"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
    </application>
</manifest>
